<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

   <nav>
      <ul>
        <li>
          <a href="/user_sign_in">Sign In</a>
        </li>
        <li>
          <a href="/user_sign_up">Sign Up</a>
        </li>
        <li>
          <a href="/user_sign_out">Sign Out</a>
        </li>
        <li>
         <a href="/users">Users</a>
         </li>
         <li>
          <a href="/tasks">Tasks</a>
          </li>

          <li>
            <%= @current_user.username %>
            # add conditional here if current user is nil !!#
          </li>

    <%= yield %>
  </body>
</html>
